.wrapper {
  min-height: 100%;
  margin: 0px 15%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 2rem;
}

.ant-pagination {
  margin: 2rem auto !important;
}
.ant-alert {
  margin: 2rem 2rem 0rem 2rem !important;
}
.nothing-found {
  margin: 1rem auto 0px;
}
